/* ------------------------ Main-area----------------------------- */

@import url(style.css);

/* ------------ Blog-area ------------- */

.blog-area {
    width: 85%;
    margin: auto;
    display: flex;
}

.blog {
    width: 70%;
}

.blog h1 {
    font-weight: 500;
    font-size: 48px;
    padding: 60px 0 20px 0;
}

.blog p {
    width: 80%;
    padding: 0 0 130px 0;
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 34px;
    color: rgba(0, 0, 0, 0.7)
}

.blog-list {
    width: 30%;
}

.sign-up-section {
    margin: 65px 0 0 0;
}

.sign-up-section a {
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
}

.blog-email-from {
    width: 330px;
    margin: 70px 0 24px 0;
    border-bottom: 1px solid #000000;
}

.blog-email-from input {
    width: 100%;
    padding: 20px 0;
    font-size: 22px;
    border: none;
}

.sign-up-section button {
    background: #FFCF2D;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    padding: 21px 120px 21px 120px;
}

.article {
    margin: 55px 0 0 0;
    cursor: pointer;
}

.article h3 {
    font-weight: 500;
    font-size: 24px;
    padding: 35px 0 7px 0;
}

.article p {
    width: 90%;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);
}


/* ------------ /Blog-area  ----------- */


/* ------------------------ /Main-area----------------------------- */