@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto&display=swap');

/* Blogs css file */

@import url(blogs.css);

/* Blog css file */

@import url(blog.css);

/* team */

@import url(team.css);
*>* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    font-weight: 400;
    color: #000000;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    border: none;
    background: none;
}

.row {
    padding: 0;
}

.col-md-6 {
    padding: 0;
}


/* --------------- Header --------------- */

.header {
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.webcoronet-nav {
    justify-content: end;
    background: #ffffff;
}

.nav-content a {
    font-weight: 400;
    font-size: 14px;
    color: #191818;
    margin: 9px 15px 0 0;
}

.lets-chat {
    border: 0.5px solid #000000;
    border-radius: 20px;
    margin: 18px 0 0 7px;
    padding: 5px 32px;
}


/* --------------- /Header --------------- */


/* --------------- Banner-area ---------------- */

.home {
    width: 100%;
}

.banner {
    margin: auto;
    padding: 94px 0 65px 0;
}

.banner-content h1 {
    font-weight: 500;
    font-size: 64px;
    color: #000000;
}

.banner-content p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.7);
    padding: 17px 0 15px 0;
}

.banner-content button {
    background: #FFCF2D;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-weight: 400;
    font-size: 25px;
    color: #000000;
    padding: 21px 47px 21px 47px;
}


/* --------------- /Banner-area ---------------- */


/* ------------------- Services-area ---------------------- */

.service {
    padding: 12px 0 0 0;
}

.services-title {
    font-weight: 500;
    font-size: 48px;
    color: #000000;
    text-align: center;
}

.services-content {
    margin: 70px 0 0 185px;
}

.service-title {
    font-weight: 700;
    font-size: 24px;
    color: #3650AB;
    padding: 20px 0 10px 0;
}

.service-description {
    width: 425px;
    font-family: 'Roboto';
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
}

.service-button {
    font-family: 'Roboto';
    font-size: 20px;
    color: #000000;
    padding: 5px 0 50px 0;
}


/* ------------------- /Services-area ---------------------- */


/* ------------------- Brands-area ---------------------- */

.brands {
    padding: 30px 0 200px 0;
}

.brands h1 {
    font-weight: 500;
    font-size: 48px;
    color: #000000;
    text-align: center;
}

.brand {
    margin: 75px 0px 30px 60px;
}

.brand-card-background {
    padding: 259px 275px;
    border-radius: 30px;
    margin: 46px 0px 0 -26px;
    position: absolute;
}

.brand-main {
    width: 96.5%;
    background: #FFFFFF;
    border: 1px solid #8C8C8C;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.first {
    background: #FFCF2D;
}

.second {
    background: #FE5244;
}

.third {
    background: #3AA2A6;
}

.fourth {
    background: #73325A;
}

.brand-main h5 {
    font-weight: 500;
    font-size: 64px;
    text-align: center;
    padding: 63px 0 0 0;
}

.brand-main p {
    width: 86%;
    font-family: 'Roboto';
    font-size: 24px;
    color: rgba(0, 0, 0, 0.7);
    padding: 43px 0 34px 52px;
}

.brand-main button {
    font-family: 'Roboto';
    font-size: 20px;
    text-align: left;
    margin: 0 0 82px 52px;
}


/* ------------------- /Brands-area ---------------------- */


/*  ------------------- About-us-area ----------------------  */

.about {
    padding: 10px 0 120px 0;
    margin: auto;
}

.about-color {
    padding: 193px 50px;
    position: absolute;
    background: #FF9797;
}

.about h1 {
    font-weight: 500;
    font-size: 48px;
    text-align: center;
}

.about p {
    width: 53%;
    margin: auto;
    padding: 25px 0 0 0;
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.8);
}


/*  ------------------- /About-us-area ----------------------  */


/* - ------------------- Form-area ----------------------  */

.form {
    padding: 50px 0 100px 0;
}

.form h1 {
    font-weight: 400;
    font-size: 40px;
    color: #41220B;
    text-align: center;
}

.form-input-area {
    display: flex;
    justify-content: center;
    padding: 32px 0 0 0;
}

.form-input-area input {
    padding: 19px 188px 19px 50px;
    font-size: 24px;
    border: 1px solid #000000;
    border-radius: 20px;
    margin: 0 12px 0 0;
}

.form-input-area button {
    border: 1px solid #000000;
    border-radius: 20px;
    font-size: 24px;
    padding: 19px 57px;
}


/* - ------------------- /Form-area ----------------------  */


/* ------------------- Footer-area ---------------------- */

.footer {
    background: #363636;
}

.footer-first {
    padding: 83px 0 0 0;
    border-bottom: 1px solid #ffffff;
}

.footer-nav-area h1 {
    font-size: 24px;
    color: #FFFFFF;
}

.footer-nav {
    margin: 16px 0px 0 0;
}

.footer-nav a {
    font-family: 'Roboto';
    font-size: 24px;
    color: #FFFFFF;
    margin: 0 50px 0px 0;
}

.social-area {
    padding: 93px 0 0 0;
}

.social-logos {
    padding: 0 50px 0 0;
    float: right;
}

.social-logos h2 {
    font-family: 'Roboto';
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 0 78px 0;
}


/* .social-midea-logo {
    padding: 10px 0 10px 0;
}

.social-midea-logo img {
    color: #FFFFFF;
    margin: 0 0px 0 23px;
    font-size: 30px;
} */

.footer-last {
    padding: 0 0 75px 0;
}

.footer-last a {
    font-family: 'Roboto';
    font-size: 18px;
    color: #FFFFFF;
    margin: 22px 50px 13px -11px;
}

.footer-last p {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin: 0 0 0 -11px;
}


/* ------------------- /Footer-area ---------------------- */